@media screen and (max-width: 598px) {
    
    main {
        margin: 0;
    }

    header {
        margin-top: 10px;
    }

    nav ul {
        display: block;
        margin: 0;
        padding-top: 10px;
    }

    .container.slogan figure {
        height: 600px;
    }

    #slogan {
        background-color: hsla(0, 0%, 0%, 0.7);
    }

    #slogan h2 {
        margin: 0;
        padding-bottom: 10px;
    }

    #slogan h4 {
        margin: 0;
    }

    .tea-pic {
        width: 200px;
    }

    figcaption {
        font-size: 0.8em;
    }

    .container.locations {
        background-image: url("locations.jpeg"); /* I decided to remove the background image in this section for a better look */
        padding-top: 1em;
        margin: 20px 0;
        height: 250px;
    }

    .address {
        font-size: 0.6em; /* Font size and width set to these values to ensure they fit in line on every screen size */
        width: 139px;
        margin: 0;
        padding: 0;
    }

    /* I added vertical borders for a better readability */

    .border-right {
        border-right: 1px solid seashell;
    }

    .border-left {
        border-left: 1px solid seashell;
    }

    footer .contact {
        padding-bottom: 10px;
    }

    .copyright p {
        font-size: 0.7em;
        text-align: center;
    }
}